.bgModal {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(243, 235, 242, 0.463);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modal {
  width: 70%;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 5px 10px var(--shadow-color);
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: 0;
}
/* styles for Info in modal left part */
.leftSection {
  margin-right: 1rem;
  width: 50%;
  background: var(--brand-color);
}

/* styles for Info in modal right part */
.modal > .rightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  position: relative;
  padding: 1.5rem 3rem;
  box-sizing: border-box;
}
.modal > .rightSection > header > .labels > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text-color);
}
.labels > h3 {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--primary-text-color);
  margin: auto;
  width: fit-content;
}
.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.singinOptions {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.singinOptions > .btnOption {
  width: 30%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 5px;
  min-width: fit-content;
  text-align: center;
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
}

.formEmail {
    width: 100%;
    box-sizing:border-box ;
}
.singIn-form{
    display: flex;
    flex-direction: column;

}
label{
    font-weight: bold;
    font-size: 1rem;
    margin: 5px 0px;
}
.formEmail > .singIn-form > input {
  color: var(--primary-text-color);
  width: 80%;
  padding: 1rem;
  border: none;
  outline: none;
}

.btnSingIn{
    padding: 0.6rem 5rem;
    width: max-content;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: var(--brand-color);
    color: var(--second-bg-color);
    font-weight: bold;
    display: flex;
    margin: 5px auto;
}
