<app-navbar></app-navbar>
<section class="sectionSteps">
    
      <div class="title">
        <h2>

          Make your Idea
        </h2>
      </div>
      <div class="stepsArea">

      
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <form [formGroup]="firstFormGroup" class="formStepOne">
            <ng-template style="color: black !important;">Fill out your name</ng-template>
        
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input class="inputCustom" matInput formControlName="nameCtrl" placeholder="Nombre completo" required>
              <mat-error *ngIf="firstFormGroup.get('nameCtrl')!.hasError('required')">
                Nombre es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('nameCtrl')!.hasError('pattern')">
                Nombre solo puede contener letras
              </mat-error>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Código del país</mat-label>
              <input matInput formControlName="codeCtrl" placeholder="ej: +57" required>
              <mat-error *ngIf="firstFormGroup.get('codeCtrl')!.hasError('required')">
                Código del país es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('codeCtrl')!.hasError('pattern')">
                Código debe comenzar con + seguido del código del país
              </mat-error>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="phoneCtrl" placeholder="Número de teléfono" required>
              <mat-error *ngIf="firstFormGroup.get('phoneCtrl')!.hasError('required')">
                Teléfono es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('phoneCtrl')!.hasError('pattern')">
                Teléfono solo puede contener números
              </mat-error>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Nombre de empresa</mat-label>
              <input matInput formControlName="companyCtrl" placeholder="Empresa" required>
              <mat-error *ngIf="firstFormGroup.get('companyCtrl')!.hasError('required')">
                Nombre de empresa es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="firstFormGroup.get('companyCtrl')!.hasError('pattern')">
                Nombre de empresa solo puede contener letras
              </mat-error>
            </mat-form-field>
        
            <div>
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
            </div>
          </form>
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious class="btnBack">Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
</section>