.sectionSteps{
    margin-left: 80px;
}
.formStepOne,.formStepTwo,.formStepThree,.formStepFour{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border: 1px solid var(--brand-color);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 5px 10px var(--shadow-color);
}
.title{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
}
.title >  h2{
    width: fit-content;
    margin: auto;
    background: transparent;
}
.stepsArea{
    width: 80%;
    margin: auto;
}
button{
    padding: 1rem 4rem;
    border-radius: 5px;
    border: none;
    background: var(--brand-color);
    color: var(--auxiliar-bg-color);
    font-weight: bold;
    cursor: pointer;
}
button:active{
    transform: scale(.9,.9);
}
.btnBack{
    background: var(--primary-text-color);
    margin-right: 1rem;
}
.previewCard{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contentCard{
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
}
.textOptions{
    color: var(--primary-text-color);
    font-size: 1.3rem;
    width: fit-content;
    margin: 1rem auto;
}
.textOptional{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--second-text-color);
}
.btnAdd{
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    background: var(--auxiliar-bg-color);
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   margin: auto;
   transition: all .3s ease;
}
.btnAdd:active{
    transform: scale(.9,.9);
}
.btnAdd > span{
    background: transparent;
    font-size: 48px;
   
}
.formStepFour{
    
}
.formStepFour h3{
    width: max-content;
    padding: 1rem 2rem;
    font-weight: bold;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: auto;
}
.formStepFour p{
    color: var(--primary-text-color);
}
.titleLine{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
    text-transform: capitalize;
    color: var(--alerts-color-warning);
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.details{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.containerDetailsDelivery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detailsDelivery{
    width: max-content;
}

.details >ul >li{
    list-style:none;
}
.btnsFinal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgDecoration >img{
    width: 130px;
    margin: auto;
}
.infoText{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.contTexts{
    display: flex;
    flex-direction: column;
}
.contDecoration{
    width: 100%;
    background: var(--brand-color);
    height: 50px;
}
.deliverys{
    width: 100%;
}
.infot{
    width: max-content;
    display: flex;
    flex-direction: column;
}