<app-navbar></app-navbar>
<app-details *ngIf="modalIs"></app-details> 
<app-login *ngIf="loginModalIs"></app-login>
<header>
    <div class="introduction">

        <h2>
            Make your idea!
        </h2>
        
        <div >
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis.</p>
            <p>Lorem, ipsum dolor.</p>
        </div>
        
        <button class="btnNewBase">
            New
        </button>
    </div>
</header>
<section>
    <app-cards></app-cards>
</section>
<app-footer></app-footer>