nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--main-bg-color);
    height: 100vh;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: fixed;
    z-index: 100;
}
.btnNav{
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    cursor: pointer;
    transition: all 3ms ease;
    color: var(--primary-text-color);
}
.btnNav:hover{
    box-shadow: 0px 5px 10px var(--shadow-color);
}
nav>.bottom{
position: fixed;
bottom: 0;
}
.logo{
    color: var(--brand-color);
    font-size: 32px;
}
.btnProfile{
    border-radius: 100%;
    background:#eeeeee;

}
.btnProfile>span{
    
    background: transparent;
}