<nav>
    <div class="top">
        <div class="btnNav">
            <h3>icono</h3>
        </div>
        <div class="btnNav">
            <h3>back</h3>
        </div>
    </div><!-- icono -->
    <div class="middle">
        <div class="btnNav">
            <h3>dashboard</h3>
        </div>
        <div class="btnNav">
            <h3>demo</h3>
        </div>
    </div>
    <div class="bottom">
        <div class="btnNav">
            <h3>updates</h3>
        </div>
        <div class="btnNav">
            <h3>profile</h3>
        </div>
    </div>
</nav>