nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--main-bg-color);
    height: 100vh;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: fixed;
    z-index: 100;
}
.btnNav{
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    cursor: pointer;
    transition: all 3ms ease;
    color: var(--primary-text-color);
}
.btnNav:hover, .btnUndo{
    box-shadow: 0px 5px 10px var(--shadow-color);
}
.btnUndo{
    margin-bottom: 1.5rem;
}
nav>.bottom{
position: fixed;
bottom: 0;
}
.logo{
    color: var(--brand-color);
    font-size: 32px;
}
.btnProfile{
    border-radius: 100%;
    background:#eeeeee;

}
.btnProfile>span{
    
    background: transparent;
}
/* styles for custom label */
.btnDemo{
    position: relative;
    

}
.btnDemo:hover{
    overflow: visible;

}
.btnDemo:hover > .customLabel{
    transform: translateX(280px);

}
.customLabel{
    position: absolute;
    background: var(--brand-color);
    color: var(--main-bg-color);
    width: max-content;
    font-size: 18px;
    padding: 1rem 2rem;
    left: -210px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}