<div class="card" (click)="openModal()" [ngClass]="{'basecardIsSelected':basecardIsSelected}">
    <div class="btnDeleteCard" *ngIf="basecardIsSelected" (click)="removeThisBasecard(); $event.stopPropagation()">
        <mat-icon>cancel</mat-icon>
      </div>
    <header [ngClass]="{'isSelectedContent':basecardIsSelected}">
        <!-- <img src="" alt=""> -->
        <mat-icon>card_travel</mat-icon>
        <div class="btnAdd" *ngIf="canAdd" (click)="useCard(); $event.stopPropagation()">
            <span class="material-icons md-48">add</span>
          </div>

    </header>
    <div [ngClass]="{'isSelectedContent':basecardIsSelected}">
        <h3>Build an app like</h3>
        <h2>{{data.title}}</h2>

        <div class="featuresList">
            <ul>
                <li *ngFor="let item of data.features | slice:0:3">{{item.name}}</li>
            </ul>
        </div>
    </div>
    <footer [ngClass]="{'isSelectedContent':basecardIsSelected}">
        <div class="featureNum">
            <h3>Feature</h3>
            <p>56</p>
        </div>
    
        <div class="costDiv">
            <h3>per plataform</h3> 
            <p>{{data.cost | currency}}</p>
        </div>
    </footer>
</div>