section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 2rem 0px;
    justify-content: space-around;

}
app-basecard{
    box-sizing: border-box;
    width: 32%;
    min-width: 300px;
    margin: 1rem auto;
}
@media screen and (max-width:860px) {
    section{
        width: 90%;
        margin: auto;
        padding: 2rem 4rem;
    }
    
}