section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 2rem 0px;
    justify-content: space-around;

}
app-basecard{
    box-sizing: border-box;
    width: 32%;
    margin: 1rem auto;
}