<div class="card" (click)="openModal()">
    <div class="sectionInfo">
        <div class="infotexts">

            <div class="titles">
                <h3>Feature</h3>
                <h2>{{data.name}}</h2>
            </div>
            <div class="info">
                
                <p>{{data.description}}</p>
            </div>
        </div>
        <div class="imagePreview">
            
                <img class="preview" src="../../../assets/images/appTest.svg" alt="images of app ">
            
        </div>
    </div>
    <footer>
        <div class="footerInfo">

            <div class="footerText">
                <small>Cost From <span class="infoVaule">{{data.cost | currency}}</span></small>
                <small>Duration From <span class="infoVaule">{{data.duration}} days</span></small>
            </div>
        </div>
        <div class="btnAdd" (click)="addFeature(data); $event.stopPropagation()">
            <span class="material-icons md-48">add</span>
          </div>
    </footer>
</div>