/* You can add global styles to this file, and also import other style files */
:root{
    --main-bg-color:#F7F7F7;
    --primary-text-color:#333333;
    --shadow-color:#CCCED1;
    --alerts-color-warning:#DB3700;
    --brand-color:#651FFF;
    --button-primary-color:#00E676;
    --border-color:#DFE0E6;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--main-bg-color);
}
