footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0px;
    justify-content: space-around;
    padding: 1rem;
    /* background: var(--main-bg-color); */

}
.logo{
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width: fit-content;
}
.sectionRight{
    width: max-content;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul>li{
    width: max-content;
    padding: 0.5rem 1rem;
    list-style: none;
    box-sizing: border-box;
    margin: auto 1rem;
}