header{
    width: 90%;
    display: flex;
    margin-left: 100px;
}
header{
    flex-direction: column;
    padding-top: 2rem;
}
header>.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top > h2{
    width: max-content;
    box-sizing: border-box;
    font-size: 2rem;
    color: var(--primary-text-color);

}
.top>button{
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--brand-yellow-color);
    transition: all .3s ease;
    color: var(--second-bg-color);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.top>button:hover{
    opacity: .9;
}
.top>button:active{
    transform: scale(.9,.9);
}
.filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
}
.filter > .search > input{
    border-radius: 5px;
    outline: none; margin-left: 5px; 
    height: 20px;
}
.tabs{
    width: 100%;
}
.search{
    position: absolute;
    right: 0;
    z-index: 100;
}

.search label{
    font-weight: bold;
    color: var(--primary-text-color);
    letter-spacing: 1px;
    margin-left: 1rem;
}
.search input{
    outline: none;
    border: 1px solid var(--second-text-color);
    height: 1.5rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
}
.search input:focus{
   
    border-color: var(--brand-yellow-color);
    
}