<app-navbar></app-navbar>
<header>
  <div class="top">
    <h2>Buildcards</h2>
    <button class="btnNew" [routerLink]="['/newbuild']">New Buildcards</button>
  </div>
  <div class="filter">
    <div class="tabs">
      <mat-tab-group class="tabsFilter" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="All">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab label="Draft">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab> -->
        <mat-tab label="Ready">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab>
       <!--  <mat-tab label="Paid">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab>
        <mat-tab label="Running">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab> -->
        <mat-tab label="Complete">
          <ng-template matTabContent>
            <app-buildcardscontent [builds]="(filteredBuilds$ | async) || []"></app-buildcardscontent>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="search searchLong">
      <label for="filtertxt">Filter</label>
      <input type="text" name="filtertxt" [(ngModel)]="searchInput" (input)="filterFeaturesByName()" placeholder="search">
    </div>
    <div class="search searchMobile" >
      <span class="material-icons md-light  menu-mobile" (click)="openFilterMenu()">search</span>
      <div class="searchMobileOp" [ngClass]="{'searchMobileOpActive':searchMobileIs}">

        <label for="filtertxt">Filter</label>
        <input type="text" name="filtertxt" [(ngModel)]="searchInput" (input)="filterFeaturesByName()" placeholder="search">
      </div>
    </div>
  </div>
</header>
