<app-navbar></app-navbar>
<div class="terms-and-conditions">
  <div class="container">

  
    <h2 class="mainH2">Terms and Conditions of Use</h2>
  
    <h2>1. Introduction</h2>
    <p>Welcome to <b>Kloustr Lab</b>. By accessing or using our Application, you agree to comply with and be bound by the following Terms and Conditions. If you do not agree with these terms, please do not use our Application.</p>
  
    <h2>2. Use of the Application</h2>
    <p>2.1. You must be at least [minimum age] years old to use this Application.</p>
    <p>2.2. You agree to use the Application only for lawful purposes and in accordance with these Terms and Conditions.</p>
    <p>2.3. You agree not to use the Application in any way that could damage, disable, overburden, or impair the Application or interfere with any other party’s use and enjoyment of the Application.</p>
  
    <h2>3. Account Registration and Security</h2>
    <p>3.1. To access certain features of the Application, you may be required to register and create an account.</p>
    <p>3.2. You are responsible for maintaining the confidentiality of your account and password and for all activities that occur under your account.</p>
  
    <h2>4. User Content</h2>
    <p>4.1. You retain all rights to the content you post or submit through the Application ("User Content").</p>
    <p>4.2. You grant <b>Kloustr Lab</b> a non-exclusive, transferable, sublicensable, royalty-free, worldwide license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display your User Content in any media known now or developed in the future.</p>
  
    <h2>5. Intellectual Property Rights</h2>
    <p>5.1. The Application and its original content (excluding User Content) are the property of [Company Name] and are protected by copyright, trademark, and other intellectual property laws.</p>
  
    <h2>6. Limitation of Liability</h2>
    <p>6.1. [Company Name] shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages resulting from the use or inability to use the Application.</p>
  
    <h2>7. Changes to the Terms</h2>
    <p>7.1. We reserve the right to modify these Terms and Conditions at any time. We will notify you of any changes by posting the new Terms and Conditions on our Application. Your continued use of the Application after the posting of changes constitutes your acceptance of the new Terms and Conditions.</p>
  
    <h2>8. Governing Law</h2>
    <p>8.1. These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction].</p>
  
    <h2>9. Contact Us</h2>
    <p>9.1. If you have any questions about these Terms and Conditions, please contact us at contactEmail@email.com.</p>
  </div>
</div>
<app-footer></app-footer>